div
{
    SCROLLBAR-ARROW-COLOR:#FFFFFF;
    SCROLLBAR-FACE-COLOR:#87856B;
    SCROLLBAR-TRACK-COLOR:#87856B;
    SCROLLBAR-HIGHLIGHT-COLOR:#FFFFFF;
    SCROLLBAR-SHADOW-COLOR:#A60013;
    SCROLLBAR-3DLIGHT-COLOR:#87856B;
    SCROLLBAR-DARKSHADOW-COLOR:#FFFFFF;
}
td {
    text-align: left;
    vertical-align: top;
    font-family:Tahoma, Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#434242;
}
form
{
    margin:50px;
}
a
{
    color:#434242;
    text-decoration:underline;
}
a:hover
{
    color:#434242;
    text-decoration:none;
}
a.none
{
    color:#434242;
    text-decoration:none;
}
a.none:hover
{
    color:#434242;
    text-decoration:underline;
}
a.white
{
    color:#FBF6F7;
    font-size:10px;
    text-decoration:underline;
}
a.white:hover
{
    color:#FBF6F7;
    font-size:10px;
    text-decoration:none;
}
.top
{
    color:#FFFFFF;
}
a.top
{
    color:#FFFFFF;
    text-decoration:none;
}
a.top:hover
{
    color:#FFFFFF;
    text-decoration:underline;
}
a.blue
{
    color:#0078B9;
    text-decoration:underline;
}
a.blue:hover
{
    color:#0078B9;
    text-decoration:none;
}
.copy
{
    color:#787878;
}
a.copy
{
    color:#787878;
    text-decoration:none;
}
a.copy:hover
{
    color:#787878;
    text-decoration:underline;
}
.menu
{
    color:#FAF9F9;
}
a.menu
{
    color:#FAF9F9;
    text-decoration:none;
}
a.menu:hover
{
    color:#FAF9F9;
    text-decoration:underline;
}
/* body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}
*/